tmp

# Coverage reports
coverage

# Docs
docs

# Dependency directory
node_modules

# Editors
.idea
*.iml
.vscode

# OS metadata
.DS_Store
Thumbs.db

# Ignore built ts files
build
dist

*.pyc

_tmp

.pyc
